<!doctype html>
{% load static %}
<html lang="zh">
<head>
    <title>用户登录</title>
    <meta http-equiv="Content-Tyuserspe" content="text/html; charset=utf-8" />
    <link href="{% static 'css/style2.css' %}" rel='stylesheet' type='text/css' />
    <!-- js -->
    <script>window.jQuery || document.write('<script src="{% static 'js/jquery-2.1.1.min.js' %}"><\/script>')</script>
    <script src="{% static 'js/vidbg.js' %}"></script>
    <script type="text/javascript">
        jQuery(function($){
            $('body').vidbg({
                'mp4':"{% static 'images/mp4.mp4'%}" ,
            }, {
                // Options
                muted: true,
                loop: true,
                overlay: true,
            });
        });

        $(document).ready(function(){
                $("#loginButton").click(function () {
                    var username = $("#id_username").val();
                    var password = $("#id_password").val();
                    $.ajax({
                        type:"POST",
                        data: {'username':username,'password':password},
                        url: "{% url 'users:login' %}",
                        success:function(data){
                            console.log(data)

                            if(data["st"] == 1){
                                alert("登陆成功")
                                window.location.href="{% url 'index' %}"
                            }
                            else {
                                alert("登陆失败")
                                window.location.href="{% url 'users:login' %}"
                            }
                        },
                        error:function(){
                            alert("false");
                        }
                    })
                })
        })

    </script>
</head>
<body>
<h1>Dragon Stack Cloud</h1>
<div class="main">


    <div class="login-top left">
        <div class="social_icons">
            <div class="w3-signup-head-top">
                <h3>用户登录</h3>
            </div>

        </div>
        <form action="{% url 'users:login' %}" method="post" id="loginForm">
            <input type="text" id="id_username"  name="username" class="name" placeholder="Name" required="">
            <input type="password" id="id_password" name="password" class="password" placeholder="Password" required="">
            <input type="submit" value="登录" id="loginButton">
        </form>
        <div class="w3-bottom-text">
            <h3><a href="{% url 'users:regist' %}">忘记密码<span>?</span></a></h3>
        </div>
        <div class="clear"></div>
    </div>


</div>
<div class="clear"></div>
<div class="copy-right w3l-agile">
    <p>Copyright © 2017 Provincial Key Laboratory of Network and System Security, Xidian University, Shaanxi Province, China.</p>
</div>


</body>
</html>